exportPattern("^[[:alpha:]]+")
useDynLib(rterm, lmFast)
useDynLib(rterm, findBaseTemp)
useDynLib(rterm, l1)
useDynLib(rterm, bootstrapBaseTemp)
importFrom(dplyr, "%>%")
importFrom(lubridate, "%m+%")
# importFrom("rstan", summary)
# exportClasses(stanfit)
exportMethods(summary)
