exportPattern("^[[:alpha:]]+")
useDynLib(rterm, lmFast)
useDynLib(rterm, findBaseTemp)
useDynLib(rterm, l1)
useDynLib(rterm, bootstrapBaseTemp)
importFrom(dplyr, "%>%")
importFrom(lubridate, "%m+%")
# importFrom("rstan", summary)
# exportClasses(stanfit)
exportMethods(summary)
S3method(plot,term)
export(plot.term)
S3method(print,term)
export(print.term)
S3method(annual,term)
export(annual.term)
